body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #12181f;
    color:white;
}

h1 {
    text-align: ;
    font-weight: 700;
    font-size: 50px;
}

p {
    text-align: ;
    font-size: 30px;
    font-weight: bold;
}

.center {
    display: ;
    justify-content: ;
    align-items: ;
    height: 50px;
}